<div class="panel panel-info person" draggable="true">
	<div class="panel-heading">
		<div class="btn-group pull-right">
			<button class="btn btn-default btn-xs" ng-click="sc.editCard()"><i class="fa fa-pencil"></i></button>
			<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><button class="btn btn-link" ng-click="sc.deleteCard()"><i class="fa fa-times"></i> Delete Story</button></li>
				<li role="separator" class="divider"></li>
				<li><button class="btn btn-link" ng-click="sc.moveCard(-1)"><i class="fa fa-caret-left"></i> Move Up</button></li>
				<li><button class="btn btn-link" ng-click="sc.moveCard(1)"><i class="fa fa-caret-right"></i> Move Down</button></li>
			</ul>
		</div>		
		<div>
			<strong>{{ sc.card.summary }}</strong>
		</div>
	</div>
	<div class="panel-body">
		<div>
			<span>{{ sc.card.detail }}</span>
		</div>
	</div>
</div>