<div>
	<div class="panel panel-default" ondragover="sl.canDrop(event)">
		<div class="panel-heading">
			<div class="btn-group pull-right">
				<button type="button" class="btn btn-default btn-xs" ng-click="sl.addCard()"><i class="fa fa-plus"></i></button>
				<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li><button class="btn btn-link" ng-click="sl.editList()"><i class="fa fa-pencil"></i> Edit List</button></li>
					<li><button class="btn btn-link" ng-click="sl.deleteList()"><i class="fa fa-times"></i> Delete List</button></li>
					<li role="separator" class="divider"></li>
					<li><button class="btn btn-link" ng-click="sl.moveList(-1)"><i class="fa fa-caret-left"></i> Move Left</button></li>
					<li><button class="btn btn-link" ng-click="sl.moveList(1)"><i class="fa fa-caret-right"></i> Move Right</button></li>
				</ul>
			</div>
			<div>
				<strong>{{ sl.list.name }} </strong>
			</div>
		</div>
		<div class="panel-body">
			<div>
				<story-card ng-repeat="card in sl.cards track by $index" card="card"></story-card>
			</div>
		</div>
	</div>
	<div class="storyListPadding"></div>
</div>

<script type="text/ng-template" id="storyCardModal.html">
	<div class="modal-header">
		<h3 ng-if="cm.isEdit" class="modal-title">Update A Card</h3>
		<h3 ng-if="!cm.isEdit" class="modal-title">Add A Card</h3>
	</div>
	<div class="modal-body">
		<form class="form-horizontal">
			<div class="form-group" ng-if="cm.isEdit">
				<label for="lists" class="col-sm-2 control-label">List</label>
				<div class="col-sm-10">
					<select class="form-control" ng-options="list.id as list.name for list in cm.lists" ng-model="cm.card.listId">
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="summary" class="col-sm-2 control-label">Summary</label>
				<div class="col-sm-10">
					<input type="text" ng-model="cm.card.summary" class="form-control" id="summary" placeholder="Summary">
				</div>
			</div>
			<div class="form-group">
				<label for="detail" class="col-sm-2 control-label">Detail</label>
				<div class="col-sm-10">
					<textarea ng-model="cm.card.detail" class="form-control" id="detail" placeholder="Detail"></textarea>
				</div>
			</div>
			<div class="form-group" ng-if="cm.isEdit">
				<label for="lists" class="col-sm-2 control-label">Members</label>
				<div class="col-sm-10">
					<ui-select multiple ng-model="cm.card.members" on-remove="removed($item, $model)" theme="bootstrap" close-on-select="false" title="Choose a person">
						<ui-select-match placeholder="Select person...">{{$item.name}}</ui-select-match>
						<ui-select-choices repeat="user.id as user in cm.users">
							<div ng-bind-html="user.name"></div>
							<small>
								<img class="avatar" ng-src="{{ user.photoURL }}"/> {{user.name}}
							</small>
						</ui-select-choices>
					</ui-select>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button ng-if="cm.isEdit" class="btn btn-success" type="button" ng-click="cm.ok()">Update</button>
		<button ng-if="!cm.isEdit" class="btn btn-success" type="button" ng-click="cm.ok()">Add</button>
		<button class="btn btn-danger" type="button" ng-click="cm.cancel()">Cancel</button>
	</div>
</script>