<script type="text/ng-template" id="userChatModal.html">
	<div class="modal-header">
		<button type="button" ng-click="uc.close()" class="close"><span>&times;</span></button>
		<h3 class="modal-title">MonsterChit</h3>
	</div>
	<div class="modal-body">
		
		<div class="row">			
			<div class="col-sm-12">
				<div class="chat-box">
					<ul class="media-list">
						<li class="media" ng-repeat="message in uc.messages">
							<div class="media-left media-middle">
								<img class="media-object avatar-chatbox" ng-src="{{ 'https://robohash.org/' + message.uid + '.png?set=set2' }}">
							</div>
							<div class="media-body media-middle">
								{{ message.text }}
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-offset-2 col-sm-7">
				<textarea ng-model="uc.message" class="form-control" rows="2"></textarea>
			</div>
			<div class="col-sm-2">
				<button ng-click="uc.postMessage()" type="button" class="btn btn-primary"><i class="fa fa-share"></i></button>
			</div>
		</div>
		
	</div>
</script>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
	<div class="container">
		<ul class="nav navbar-nav">
			<li ng-repeat="user in ul.users">
				<a class="avatar-navbar">
					<img ng-click="ul.userChat(user)" ng-src="{{ user.photoURL }}" class="img-thumbnail avatar">
				</a>
			</li>
		</ul>
	</div>
</nav>